// @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,700,800');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700,800&display=swap');

// create variables
:root {
  --primary: #e84137;

  --spacing: 2.5rem;

  --box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);
}

//fonts
html,
body {
  font-family: 'Open Sans', sans-serif;
  background: #f2f2f2;
}

//button overrides
.btn-primary,
.bg-primary {
  background-color: var(--primary);
  border-color: var(--primary);
  &:hover {
    border-color: darken($color: #e84137, $amount: 5%);
    background-color: darken($color: #e84137, $amount: 5%);
  }
}

.btn-primary:not(:disabled):not(.disabled):active {
  border-color: var(--primary);
  background-color: var(--primary);
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem var(--primary);
}
.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
  &:hover {
    background-color: var(--primary);
    border-color: var(--primary);
  }
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 0.2rem var(--primary);
}

.btn-outline-primary:not(:disabled):not(.disabled):active {
  background-color: var(--primary);
  border-color: var(--primary);
}

a.text-primary {
  color: var(--primary) !important;
}
