.image-edit {
  position: relative;
  display: inline-block;
  label {
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    span {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      display: inline-block;
      width: 100%;
      text-align: center;
      color: #fff;
      bottom: 1px;
      cursor: pointer;
      font-size: 1em;
      height: 21%;
    }
  }
  input {
    visibility: hidden;
    position: absolute;
    width: 0px;
    top: 80px;
    left: 70px;
  }
}
