.card {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);

  &.no-shadow {
    box-shadow: none;
  }

  &-img-top {
    max-height: 120px;
    object-fit: cover;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &-columns {
    column-count: 4;
  }
}
