.card {
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.2);

  &.no-shadow {
    box-shadow: none;
  }

  &-img-top {
    max-height: 120px;
    object-fit: cover;
  }

  &-date {
    font-size: 0.8rem;
  }

  &-subtitle {
    font-size: 0.9rem;
    margin-top: 0;
  }

  &-title {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &-columns {
    column-count: 4;
  }
}
