.attendee-profile {
  width: calc(#{$icon-size} / 1.5);
  height: calc(#{$icon-size} / 1.5);
  object-fit: cover;
  border-radius: 50%;
}

.attendees {
  max-height: 300px;
  overflow-y: scroll;
  flex-wrap: wrap;
  margin: 0 -10px;

  .card {
    width: 100px;
    margin: 10px;

    // &:nth-child(3n) {
    //   margin-left: 0;
    // }
  }
}
