.feature {
  text-align: center;
  .img {
    font-size: 2.5rem;
    color: var(--primary);
  }
}

//overrride
//card
.horizontal-scroll {
  .card {
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.1);
  }
}
