.navbar {
  width: 100vw;
  max-height: 60px;
  flex-wrap: nowrap;

  .user {
    &-name {
      text-overflow: ellipsis;
    }
    &-dropdown {
      height: 50px;
      padding: 5px 0.75rem;
    }
  }
}
